VITE_SUPABASE_URL=https://ivxdcgyngxlxkpfebxso.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml2eGRjZ3luZ3hseGtwZmVieHNvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ3NjY0MzQsImV4cCI6MjEwMDM0MjQzNH0.XDaayREWF6DVVM_xGSqHCKuZLt82cGNgbeR74T0U1t0
VITE_CLEAR_PASSWORD=0220
